.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 5px 5px 8px 5px #ccc;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
